/* Reset default margin and padding */
body, h1, table, th, td, div, a {
    margin: 0;
    padding:0;
}

/* Apply box-sizing border-box to all elements */
* {
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Heading styles */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
}

/* Non-premium section styles */
.non-premium {
    text-align: center;
    margin-bottom: 20px;
}

.non-premium a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.non-premium a:hover {
    background-color: #0056b3;
}

/* Premium section styles */
.premium {
    margin-top: 20px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}

/* Audio player styles */
audio {
    width: 100%;
}


/* Logout link styles */
.logout-link {
    text-align: center;
    margin-top: 20px;
}

.logout-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.logout-link a:hover {
    background-color: #c82333;
}
