<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/registration.css}">
</head>
<body>
<div class="container">
<h1>User Registration:</h1>
       <form action ="register" method="post">
       <label>Username :</label>
       <input type = "text" name = "username" required/>
		<br>
		<label>Email : </label>
		<input type = "email" name = "email" required/>
		<br>
		<label>Password : </label>
		<input type = "password" name = "password" required/>
		<br>
		<label>Gender : </label>
		M<input type = "radio" name = "gender" value = "male"/>
		F<input type = "radio" name = "gender" value = "female"/>
		O<input type = "radio" name = "gender" value = "other"/>
		<br><br>
		<label>Role : </label>
		Admin<input type = "radio" name = "role" value = "admin"/>
		Customer<input type = "radio" name = "role" value = "customer"/>
		<br><br>
		<label>Address : </label>
		<textarea name = "address"></textarea>
		<br>
		<input type="submit" />
       </form>
       </div>
       
       <script>
document.getElementById("registrationForm").addEventListener("submit", function(event) {
  // Prevent the default form submission behavior
  event.preventDefault();
  
  // Redirect to the login page
  window.location.href = "login.html"; // Replace "login.html" with the URL of your login page
});
</script>
</body>
</html>